<div class="row clearfix">
	<% if tudo_subitem.completed? && tudo_subitem.tudo_item.user_create == current_user.email %>
		<div class="complete">
			<%= link_to complete_tudo_item_tudo_subitem_path(@tudo_item, tudo_subitem.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="tudo_subitem">
			<p style="opacity: 0.4;"><strike><%= tudo_subitem.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to tudo_item_tudo_subitem_path(@tudo_item, tudo_subitem.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<% if tudo_subitem.tudo_item.user_create == current_user.email %>
			<div class="complete">
				<%= link_to complete_tudo_item_tudo_subitem_path(@tudo_item, tudo_subitem.id), method: :patch do %>
					<i class="fa fa-check"></i>
				<% end %>
			</div>
			<div class="tudo_subitem">
				<p><%= tudo_subitem.content %></p>
			</div>
			<div class="trash">
				<%= link_to tudo_item_tudo_subitem_path(@tudo_item, tudo_subitem.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<i class="fa fa-trash"></i>
				<% end %>
			</div>
		<% else %>
			<div class="tudo_subitem">
				<p><%= tudo_subitem.content %></p>
			</div>
		<% end %>
	<% end %>
	
</div>